{% extends 'base.html' %}
{% block content %}
    <!-- edit profile section -->
    <section id="register-page" class="content auth">
        <!-- edit profile form -->
        <form id="register" method="post" action="{% url 'profile_edit' %}">
            <div class="container">
                <!-- Edit Profile paragraph -->
               {{ form }}
                <!-- edit profile button -->
                <input class="btn submit" type="submit" value="Edit Profile">
                {% csrf_token %}
            </div>
        </form>
    </section>
{% endblock %}
