{% extends 'base.html' %}}
{% block add %}
{% include 'li-add.html' %}
{% endblock %}
{% block profile %}
{% include 'li-profile.html' %}
{% endblock %}
{% block body %}
        <h1>My Notes</h1>

        {% if not notes %}
        <h2>There are no notes.</h2>
        {% else %}
        <!--notes container-->
            {% for note in notes %}
        <div class="note-container">
            <h2>{{ note.title }}<img src="{{ note.image.url }}"  alt="{{ note.title }}"/></h2>

            <div class="right">
                <a class="button details" href="{% url 'details' pk=note.pk %}">Details</a>
                <a class="button edit" href="{% url 'edit' pk=note.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete' pk=note.pk %}">Delete</a>
            </div>
        </div>
            {% endfor %}

        {% endif %}
        <!--end notes container-->
{% endblock %}
