{% extends 'base.html' %}
<!--Edit Page-->
{% block main_content %}
<section class="editPage">
    <form method="post" action="{% url 'album edit' album.id %}">
        <fieldset>
            <legend>Edit Album</legend>
            <div class="container">

                {% csrf_token %}
                {{ form }}

                <!-- Button for Editing Album -->
                <button class="edit-album" type="submit">Edit Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}