{% extends 'base.html' %}
{% block main_content %}
<!-- Catalog with Albums-->
<section id="catalogPage">

    <!--  If No albums in catalog -->
    {% if not albums %}
    <p>No Albums in Catalog!</p>
    {% else %}
    <!-- If albums in catalog -->
    <h1>All Albums</h1>
    <!-- First Card-Box in catalog -->
        {% for album in albums %}
    <div class="card-box">
        <img src="{{ album.image_url }}" alt="Cover Image">
        <div>
            <div class="text-center">
                <p class="name">Name: {{ album.album_name }}</p>
                <p class="artist">Artist: {{ album.artist }}</p>
                <p class="genre">Genre: {{ album.genre }}</p>
                <p class="price">Price: ${{ album.price|floatformat:2 }}</p>
            </div>
            <div class="btn-group">
                <a href="{% url 'album details' album.id %}">Details</a>
            </div>
        </div>
    </div>
        {% endfor %}
    <!-- End First Card-Box in catalog -->
    {% endif %}

</section>
{% endblock %}