{% extends 'base.html' %}
{% block main %}
        <!-- Delete Fruit Form -->
        <section id="edit">
            
                <div class="form">
                    <h2>Delete Fruit</h2>
                    <form class="edit-form" method="post" action="{% url 'fruit_delete' pk=fruit.pk %}">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit">Delete</button>
                    </form>
                </div>
           
        </section>
{% endblock %}