{% extends 'base.html' %}

        <!-- Edit Book Page -->
{% block content %}
        <section id="edit-page" class="edit">
            <form id="edit-form" action="{% url 'book_edit' book.id %}" method="post">
                <fieldset>
                    <legend>Edit Book</legend>
                    {% csrf_token %}
                    {{ form }}
                    <input class="button submit" type="submit" value="Edit">
                </fieldset>
            </form>
        </section>
{% endblock %}