{% extends 'base.html' %}

        <!-- Edit Profile Page -->
{% block content %}
        <section id="edit-profile-page" class="edit">
            <form id="edit-form" action="{% url 'profile_delete' %}" method="post">
                <fieldset>
                    <legend>Delete Profile</legend>
                    {% csrf_token %}
                    {{ form }}
                    <input class="button submit" type="submit" value="Delete">
                </fieldset>
            </form>
        </section>
{% endblock %}