{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar-buttons.html' %}
{% endblock %}
{% block content %}

        <!-- Edit Profile Page -->
        <section id="edit-profile-page" class="edit">
            <form id="edit-form" action="{% url 'profile_edit' %}" method="post">
                <fieldset>
                    {% csrf_token %}
                    {{ form }}
                 <input class="button submit" type="submit" value="Edit">
                </fieldset>
            </form>
        </section>
{% endblock %}